{% extends "layout.html" %}

{% block scripts %}
  <!-- OpenLayers 5 -->
  <link rel="stylesheet" type="text/css" href="/css/ol.css">
  <script defer type="text/javascript" src="/js/vendor/ol.min.js"></script>
  <script defer type="text/javascript" src="/js/vendor/buzz.min.js"></script>
  <!--<script defer type="text/javascript" src="/js/vendor/ol-ext.min.js"></script>-->
{% endblock %}

{% block content %}
  <!-- OL wrapper -->
  <div id="app-map" class="map" tabindex="0"></div>

  <!-- Vue.js gui frame -->
  <div id="app-gui">
    <game-frame ref="frame"></game-frame>
    <flash ref="flash"></flash>
    <chat-gui room-id="global" id="game-global-chat" ref="global-chat"></chat-gui>

    <dialog-settings @close="quit('dialog-settings')" ref="dialog-settings"></dialog-settings>
    <dialog-players @close="quit('dialog-players')" ref="dialog-players"></dialog-players>
    <dialog-game-end @close="quit('dialog-game-end')" ref="dialog-game-end"></dialog-game-end>
    <dialog-disconnect @close="quit('dialog-disconnect')" ref="dialog-disconnect"></dialog-disconnect>

    <infobar-area ref="infobar-area"></infobar-area>
    <infobar-buy-tiles ref="infobar-buy-tiles"></infobar-buy-tiles>
    <infobar-buy-units ref="infobar-buy-units"></infobar-buy-units>
    <infobar-countries ref="infobar-countries"></infobar-countries>
    <infobar-country ref="infobar-country"></infobar-country>

    <overlay-country ref="overlay-country"></overlay-country>
  </div>

  <!-- native GUI -->
  <div style="display: none;">
    <div id="app-popup" title="Welcome to OpenLayers"></div>
  </div>

  <!-- global variables -->
  <script>
    // declare variables from backend
    window.world_map = '{{ world.map }}';
  </script>

  <!-- app init -->
  <script defer type="text/javascript" src="/js/client.min.js"></script>
  <script defer type="text/javascript" src="/js/test.js"></script>
  <script>
    window.onload = function() {
      geopoly({{ conf|tojson }}, {{ get_user().to_dict()|tojson }}, '', {{ world.to_dict()|tojson }});
    }
  </script>

{% endblock %}
