{% extends "layout.html" %}

{% block scripts %}
  <!-- OpenLayers 5 -->
  <link rel="stylesheet" type="text/css" href="css/ol.css">
  <script defer type="text/javascript" src="js/vendor/ol.js"></script>
  <!--<script defer type="text/javascript" src="js/vendor/ol-ext.min.js"></script>-->
{% endblock %}

{% block content %}
  <div id="app-map" class="map" tabindex="0"></div>
  <div id="app-gui"></div>

  <div style="display: none;">
    <div id="app-popup" title="Welcome to OpenLayers"></div>
  </div>


  <script>
    // declare variables from backend
    window.world_map = '{{ world.map }}';
  </script>

  <script type="module">
    // import gui frame
    import {template} from "/js/gui/templates/client-gui.vue.js";
    $("#app-gui").innerHTML = template;
  </script>
  <script type="module">
    import {gui} from '/engine/gui.js';
    import {init_app} from '/js/main.js';

    // declare variables from backend
    window.gui = gui;

    // start app
    init_app({{ conf|tojson }}, {{ get_user().to_dict()|tojson }}, '', {{ world.to_dict()|tojson }});
  </script>
{% endblock %}
