{% extends "layout_welcome.html" %}

{% block scripts %}
  <!-- TensorFlow.js -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
{% endblock %}

{% block content_body %}
  <script type="module">
    import {template} from "/js/vue/matchfinder-gui.vue.js";
    $("#app-gui").innerHTML = template;

    import {WorldsController} from '/js/game/controllers/worlds.js';

    let client = {};
    client.controllers = {};

    client.controllers.Areas = new WorldsController(client);
  </script>
{% endblock %}
