{% extends "layout_welcome.html" %}

{% block scripts %}
{% endblock %}

{% block content_body %}
  {% if current_user.username %}
    <p>Welcome, {{ current_user.username }}</p>
    
    <a class="btn btn-brand" href="/client/new">Start playing</a>
  {% else %}
    <a class="btn btn-brand" href="/users/login">Login</a>
  {% endif %}

<!--   <script type="module">
    import {template} from "/js/vue/welcome-gui.vue.js";
    $("#app-gui").innerHTML = template;
  </script>
 -->
{% endblock %}
