
.flag{width:240px; height:160px;background: url(flags.png)}
.flag-lg{zoom:1.55;-moz-transform:scale(1.55);-moz-transform-origin: 0 0;}
.flag-md{zoom:0.5;-moz-transform:scale(0.5);-moz-transform-origin: 0 0;}
.flag-sm{zoom:0.25;-moz-transform:scale(0.25);-moz-transform-origin: 0 0;}
.flag-xs{zoom:0.125;-moz-transform:scale(0.125);-moz-transform-origin: 0 0;}


.flag-AA{background-position: -0px -0px}
.flag-AT{background-position: -240px -0px}
.flag-BA{background-position: -480px -0px}
.flag-BE{background-position: -720px -0px}
.flag-CH{background-position: -960px -0px}
.flag-DK{background-position: -1200px -0px}
.flag-ES{background-position: -1440px -0px}
.flag-FR{background-position: -0px -160px}
.flag-GE{background-position: -240px -160px}
.flag-HA{background-position: -480px -160px}
.flag-HZ{background-position: -720px -160px}
.flag-KL{background-position: -960px -160px}
.flag-MA{background-position: -1200px -160px}
.flag-NL{background-position: -1440px -160px}
.flag-NP{background-position: -0px -320px}
.flag-PA{background-position: -240px -320px}
.flag-PL{background-position: -480px -320px}
.flag-PR{background-position: -720px -320px}
.flag-PS{background-position: -960px -320px}
.flag-PT{background-position: -1200px -320px}
.flag-RU{background-position: -1440px -320px}
.flag-SE{background-position: -0px -480px}
.flag-SX{background-position: -240px -480px}
.flag-TR{background-position: -480px -480px}
.flag-TU{background-position: -720px -480px}
.flag-UK{background-position: -960px -480px}
.flag-VE{background-position: -1200px -480px}
.flag-WU{background-position: -1440px -480px}
