<!DOCTYPE html>
<html>
<head>
  <title>Geopoly</title>
  <link href="style.css" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>

  <script src="howler.min.js"></script>
</head>
<body>

  <div id="app-map"></div>

  <div id="brand" class="brand-wrapper">
    <h1 class="geopoly">GeopoLy</h1>
    <span class="subopoly"><a href="https://discord.gg/UsNxTZ9">Join our discord!</a></span>
  </div>

  <script src="app.js"></script>

</body>
</html>