@font-face {
  font-family: 'geo';
  src:
    url('fonts/geo.ttf?mlviob') format('truetype'),
    url('fonts/geo.woff?mlviob') format('woff'),
    url('fonts/geo.svg?mlviob#geo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ra-"], [class*=" ra-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'geo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ra-build-barr:before {
  content: "\e900";
}
.ra-build-cita:before {
  content: "\e901";
}
.ra-build-house:before {
  content: "\e902";
}
.ra-icon-tribute .path1:before {
  content: "\e903";
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path6:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path7:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path8:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 185, 69);
}
.ra-icon-tribute .path9:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 185, 69);
}
.ra-icon-tribute .path10:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 185, 69);
}
.ra-icon-tribute .path11:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path12:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-icon-tribute .path13:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 185, 69);
}
.ra-icon-tribute .path14:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(46, 78, 10);
}
.ra-res-emerald:before {
  content: "\e911";
  color: #49de20;
}
.ra-res-gold:before {
  content: "\e912";
  color: #2e4e0a;
}
.ra-res-pop:before {
  content: "\e913";
}
.ra-tile-bridge:before {
  content: "\e914";
}
.ra-tile-city:before {
  content: "\e915";
}
.ra-tile-forest:before {
  content: "\e916";
}
.ra-tile-mount:before {
  content: "\e917";
}
.ra-tile-river:before {
  content: "\e918";
}
.ra-unit-art:before {
  content: "\e919";
}
.ra-unit-cav:before {
  content: "\e91a";
}
.ra-unit-inf:before {
  content: "\e91b";
}
