.flag {width:240px; height:160px;background: url(flags.png)}
.flag-lg{zoom:1.55;-moz-transform:scale(1.55);-moz-transform-origin: 0 0;}
.flag-md{zoom:0.5;-moz-transform:scale(0.5);-moz-transform-origin: 0 0;}
.flag-sm{zoom:0.25;-moz-transform:scale(0.25);-moz-transform-origin: 0 0;}
.flag-xs{zoom:0.125;-moz-transform:scale(0.125);-moz-transform-origin: 0 0;}


.flag-AA{background-position: -0px -0px}
.flag-AH{background-position: -240px -0px}
.flag-AT{background-position: -480px -0px}
.flag-CH{background-position: -720px -0px}
.flag-CS{background-position: -960px -0px}
.flag-DD{background-position: -0px -160px}
.flag-DK{background-position: -240px -160px}
.flag-ES{background-position: -480px -160px}
.flag-FR{background-position: -720px -160px}
.flag-HH{background-position: -960px -160px}
.flag-HN{background-position: -0px -320px}
.flag-HU{background-position: -240px -320px}
.flag-NL{background-position: -480px -320px}
.flag-PO{background-position: -720px -320px}
.flag-PR{background-position: -960px -320px}
.flag-PT{background-position: -0px -480px}
.flag-RO{background-position: -240px -480px}
.flag-RU{background-position: -480px -480px}
.flag-SE{background-position: -720px -480px}
.flag-SK{background-position: -960px -480px}
.flag-SR{background-position: -0px -640px}
.flag-UK{background-position: -240px -640px}
.flag-US{background-position: -480px -640px}
